* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    ;
    /*Inclus la bordure et le padding dans la taille de la boite*/
    /* background-color: #e4e4e4; */
}

:root {
    --main-margin-left: calc(var(--main-banner-widht)-225px);
    --main-margin-right: calc(var(--main-banner-widht)-225px);
    --main-banner-widht: 1080px;
}

body {
    background-color: #e3e3e3 !important;
    background: url('../images/ui/background.jpg');
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
}

img {
    width: 100%;
}

.banner {
    width: 100%;
}

.header--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
    max-width: var(--main-banner-widht);

}

.logo {
    max-width: 100px;
}

.menu-centre{
    display: flex;
}

.link-menu {
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.link-menu:hover {
    background-color: grey;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.link-menu--welcome {
    color: #AFB1B3;
    padding-left: 10px;
}

.banner--center {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--main-banner-widht);
    margin-bottom: 20px;
}

.banner--flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product--images {
    max-width: 182px;
}

.product--images:hover {
    opacity: calc(1-0.7);
}

.child--product--content {
    max-width: calc((var(--main-banner-widht))/2);
    display: flex;
    flex-direction: row;
    width: 500px;
    margin: 0.7em;
    justify-content: space-between;
    border: 10px;
    background-color: white;
}

.title_and_description {
    margin: 20px;
}

.product--content {
    max-width: var(--main-banner-widht);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.title--product--content {
    font-size: 20px;
    font-weight: bold;
    color: #525252;
}

.description--product--content {
    color: #8089ae;
    padding-top: 10px;
}

.price__and__basket {
    display: flex;
    margin-top: 20px;

}

.liste--produit {
    color: #525252;
    font-size: large;
    padding-left: 30px;
    font-weight: bold;
}

.grid--product {
    margin: auto;
}

.main {
    width: var(--main-banner-widht);
    margin: auto;
    background-color: #f0f0f0;
}


.footer--icon--icon {
    margin: 10px;
    background: #bdbdbd;
    padding: 7px;
    border-radius: 50%;
    color: white;
}

.price {
    font-size: x-large;
    color: #cf0b22;
    font-weight: bolder;
}

.add--basket {
    background-color: #e7a200;
    /*Green*/
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 20px;
}

.add--basket:hover{
    opacity: 0.75;
}


.footer--icon--icon:hover {
    background: grey;
}

.footer1 {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: var(--main-banner-widht);
    margin: auto;
}


.footer--icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    margin-left: var(--main-margin-left);
    margin-right: var(--main-margin-right);
}


.footer--link {
    display: flex;
    justify-content: center;
}

.footer--link--footer {
    margin: 20px;
    font-size: 14px;

}


.footer--copyright {
    text-align: center;
    font-size: small;
    color: #e7a200;
}